<% include base.ejs %>

    <nav>
      <ul>
        <li>Home</li>
        <li>Profile</li>
        <li>Post</li>
    </nav>

        <div class="photo photo-001">
          <img src="#" alt="photo-001">
          <p>Lorem Ipsum</p>
          <button type="button" name="like">Like</button>
          <button type="button" name="comment">Comment</button>
        </div>
        <div class="photo photo-002">
          <img src="#" alt="photo-002">
          <p>Lorem Ipsum</p>
          <button type="button" name="like">Like</button>
          <button type="button" name="comment">Comment</button>
        </div>
        <div class="photo photo-003">
          <img src="#" alt="photo-003">
          <p>Lorem Ipsum</p>
          <button type="button" name="like">Like</button>
          <button type="button" name="comment">Comment</button>
        </div>
        <div class="photo photo-004">
          <img src="#" alt="photo-004">
          <p>Lorem Ipsum</p>
          <button type="button" name="like">Like</button>
          <button type="button" name="comment">Comment</button>
        </div>
        <div class="photo photo-005">
          <img src="#" alt="photo-005">
          <p>Lorem Ipsum</p>
          <button type="button" name="like">Like</button>
          <button type="button" name="comment">Comment</button>
        </div>
        <div class="photo photo-006">
          <img src="#" alt="photo-006">
          <p>Lorem Ipsum</p>
          <button type="button" name="like">Like</button>
          <button type="button" name="comment">Comment</button>
        </div>
        <div class="photo photo-007">
          <img src="#" alt="photo-007">
          <p>Lorem Ipsum</p>
          <button type="button" name="like">Like</button>
          <button type="button" name="comment">Comment</button>
        </div>
        <div class="photo photo-008">
          <img src="#" alt="photo-008">
          <p>Lorem Ipsum</p>
          <button type="button" name="like">Like</button>
          <button type="button" name="comment">Comment</button>
        </div>
        <div class="photo photo-009">
          <img src="#" alt="photo-009">
          <p>Lorem Ipsum</p>
          <button type="button" name="like">Like</button>
          <button type="button" name="comment">Comment</button>
        </div>
        <div class="photo photo-010">
          <img src="#" alt="photo-010">
          <p>Lorem Ipsum</p>
          <button type="button" name="like">Like</button>
          <button type="button" name="comment">Comment</button>
        </div>

<% include base2.ejs %>
