<% include base.ejs %>

<div class="container">
  <h2>Post Image</h2>
  <input type="image" name="none" value="">
  <button type="submit" onclick="submit()">Post</button>
</div>

<% include base2.ejs %>
